p{
    font-family: 'Titillium', sans-serif;
}


/* Navbar Start */
.navbar-image{
    width: 80%;
    height: 10%;
}

/* Navbar End */
/*Intro Start */
.intro-div{
    text-align: center;
    padding-right: 20%;
    padding-bottom: 5%;

}
.intro-h1{
    font-size: 500%;
    font-family: 'Inter', sans-serif;

    padding: 5% 0 3%;
}
.intro-h5{
    font-size:150%;
    font-family: 'Inter', sans-serif;
}
.intro-img{
    height: 100%;
    width: 100%;
}
.global-intro-container{
    margin: 2% 0 8%;
}
@media screen and (max-width: 900px) {
    .intro-img{
        height: 70%;
        width: 70%;
        margin: 8% 15%
        
    }
    .intro-div{
        padding-right: 0%; }
}
/*Intro End */
/*Service Start */
.service-div{
    padding: 7% 0;
    text-align: center;
    background-color: #F0FAFF ;
}
.service-row{
    margin-top: 7%;
}
.service-card{
    margin-top: 5%;
    text-align: center;
}
.service-h1{
    margin-bottom: 5%;
    font-family: 'Inter', sans-serif;
}
.card-img{ 
    margin-top: 5%;
}
.margin-bottom{
    margin-bottom: 10%;
}
/*Service End */
/*About Start*/
.about-div{
    padding: 10% 10% 6%;
    text-align: center;
}
.about-row{
    margin-top: 10%;
}
.about-p, .about-img{
    margin-top: 15%;
}
.about-p{
    height:65%
}
.about-h1{
    font-size: xxx-large;
    font-family: 'Inter', sans-serif;
}
.about-img{
    height: 75%;
    width: 75%;
}
/*About End */
