p{
    font-family: 'Titillium', sans-serif;
}
body{
    font-family: 'Titillium', sans-serif;
}
hr 
    {
        display: none;
    }
h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: "none";
     color: "black" ;
}
a:hover {
    color: white;
}


/* Navbar Start */
.navbar-image{
    width: 80%;
    height: 10%;
}

/* Navbar End */
/*Intro Start */
.intro-div{
    text-align: center;
    padding-right: 20%;
    padding-bottom: 5%;

}
.intro-h1{
    font-size: 500%;
    padding: 5% 0 3%;
}
.intro-h5{
    font-size:150%;

}
.intro-img{
    height: 100%;
    width: 100%;
}
.global-intro-container{
    margin: 2% 0 8%;
}
@media screen and (max-width: 900px) {
    .intro-img{
        height: 70%;
        width: 70%;
        margin: 8% 15%
        
    }
    .intro-div{
        padding-right: 0%; }

    hr 
    {
        display: block;
        border: 1px dotted #000000;
        border-style: none none dotted; 
        color: #fff; 
        background-color: #fff;
    }
}
        
/*Intro End */
/*Service Start */
.service-div{
    padding: 7% 0;
    text-align: center;
    
}
.service-card-div{
    margin: 5% 3%;
    text-align: center;
}
.service-row{
    margin-top: 7%;
}
.service-card{
    margin-top: 5%;
    text-align: center;
}
.service-h1{
    margin-bottom: 5%;
    font-family: 'Inter', sans-serif;
}
.card-img{ 
    height: "40%";
    width: "40%";
}
.margin-bottom{
    margin-bottom: 10%;
}
/*Service End */
/*About Start*/
.about-div{
    padding: 10% 0 6% 0;
    text-align: center;
    background-color: #F0FAFF ;
}
.about-row{
    margin-top: 10%;
}
.about-p, .about-img{
    margin-top: 15%;
}
.about-h1{
    font-size: xxx-large;
    font-family: 'Inter', sans-serif;
}
.about-img{
    height: 75%;
    width: 75%;
}
/*About End */
/*Contact Start*/
.contact-div{
    background-color: #F0FAFF;
    padding: 5%;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}
.contact-form{
    margin-top: 15%;
}
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
/*Contact End */